<h3>Enter a new landmark below:</h3>
<form method="POST" action="/landmarks">
  
  <br></br>
  
  <label for="landmark_name">Landmark Name:</label>
  
  <input id="landmark_name" type="string" name="landmark[name]"></input>
  
  <br></br>

  <label for="landmark_year_completed">Year Completed:</label>
  
  <input id="landmark_year_completed" type="string" name="landmark[year_completed]"></input>
  
  <br></br>

  <input type="submit" value="Create New Landmark"></input>
</form>