<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><a href="/landmark/<%= @landmark.id %>"><%= @landmark.name %></a></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>
